<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page - CareSoko Hospital</title>


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">





{% load static %}
<!---Favicons---->
<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
 <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<link rel="stylesheet" href="{% static 'assets/css/register.css' %}">




</head>
<body>
  




<div class="container">
<br>  <p class="text-center">More CareSoko  components on <a href="http://bootstrap-ecommerce.com/"> CareSoko.com</a></p>
<hr>





<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	

 


	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>






	<form method="POST" >
        {% csrf_token %}
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="username" class="form-control" placeholder="Username" type="text">
    </div> <!-- form-group// -->


  






    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" name="password" placeholder="Create password" type="password">
    </div> <!-- form-group// -->


    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" name="confirm_password" placeholder="Repeat password" type="password">
    </div> <!-- form-group// -->  
    
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// --> 
    
    {% for message in messages %}

       <p class="alert alert-success" >{{ message }}</p>
       
    {% endfor %}

    
    
    <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">CareSoko UI KIT</h3>
<p class="h5 text-white">Components and templates  <br> for Tretement, Consultation, Checkup 
and Therapy</p>   <br>

</div>
<br><br>
</article>
</body>
</html>