{% extends 'starter-page.html' %}

{% load static %}

{% block title %}Service Us- Caresoko{% endblock %}

{% block content %}

 <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Our patients’ needs are always our priority, and we are committed to providing safe and reliable healthcare services.</p>

      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
              <h3>Medical Expertise You Can Trust</h3>
<p>We provide reliable healthcare services, ensuring that every patient receives the highest standard of care and attention at all times.</p>
                </a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Exceptional Care for Every Patient</h3>
<p>Our team is dedicated to providing compassionate and efficient care, ensuring every patient receives the attention and treatment they deserve.</p>
                </a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
               <h3>Advanced Medical Facilities</h3>
<p>We offer state-of-the-art facilities and treatments to ensure every patient receives safe, effective, and high-quality healthcare.</p>
                </a>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link">
               <h3>Premium Healthcare Services</h3>

              </a>
              <p>We are committed to providing reliable healthcare solutions. Our services are designed to ensure patient safety and deliver effective treatment at all times.</p>

              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Comprehensive Patient Care</h3>

              </a>
              <p>Our team is dedicated to providing consistent and reliable care. We ensure every patient receives personalized attention and professional treatment at all times.</p>

              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-notes-medical"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Advanced Medical Solutions</h3>

              </a>
             <p>We address all patient concerns with care and professionalism. Our team ensures that every treatment is safe, effective, and tailored to individual needs.</p>

              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->



{% endblock %}