{% extends 'starter-page.html' %}

{% load static %}

{% block title %}Booked  Appointments {% endblock %}


{% block content %}


    {% for message in messages%}

        <p class="alert alert-success">{{ message}}</p>


    {% endfor %}



<h1 class="text-center">List of Booked Appointments</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quis a quos. A, esse repudiandae, libero fugit iure omnis sapiente facere officiis, fugiat officia quos quia totam excepturi modi unde!
Excepturi accusamus dolor quisquam ullam et esse eius. Quidem, amet reiciendis libero eligendi sapiente soluta quis magnam, eaque nam eos, sint quaerat possimus odio mollitia totam suscipit nihil deserunt velit?
Quas officia minus quae, sint voluptatum ad natus ut corrupti nulla dolorem magnam. Ipsa deleniti accusamus at nam dolores delectus optio, esse eum enim tempora aspernatur ullam similique minus dolorem.</p>

<table class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Date & Time</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Message</th>
        <th>Action</th>

    </tr>

    {% for appointment in all %}
        

        <tr>
            <td>{{ appointment.name}}</td>
            <td>{{ appointment.email}}</td>
            <td>{{ appointment.phone}}</td>
            <td>{{ appointment.datetime}}</td>
            <td>{{ appointment.department}}</td>
            <td>{{ appointment.doctor}}</td>
            <td>{{ appointment.message}}</td>
            <td>
                <a href="/edit/{{ appointment.id }}" class="btn btn-outline-warning">Edit</a>
                <a href="/delete/{{ appointment.id }}" class="btn btn-outline-danger">Delete</a>
                 <a href="" class="btn btn-outline-success">Pay</a>

            </td>



        </tr>



    {% endfor %}





</table>













{% endblock %}